* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


:root {
    --plain: 'Raleway', sans-serif;
    --fancy: 'Ribeye Marrow', serif;
    --purple: #8253EA;
    --fuchsia: #FF427B;
    --mint: #2EFFC0;
    --shadow: ;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer; 
}


body {
    min-height: 100vh;
    color: #000;
    font-family: var(--plain);
}

span {
    font-family: var(--fancy);
    font-size: 2rem;
    font-weight: 300;
}

.section__content{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

.section__dots {
    position: absolute;
    left: 0rem;
    top: 10%;
    z-index: -1;
 }

.section__header {
    margin-bottom: 1rem;
    margin-left: 5rem;
    width: 100%;
    font-weight: 300;
    font-size: 1.8rem;
}

.section__header span {
    font-size: 2.3rem;
}

header {
    height: 100vh;
    width: 100%;
}

.header__text {
    position: relative;
    top: 15%;
    width: 50%;
    margin: 0 auto;
}

.header__hello {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.header__intro {
    font-weight: 400;
    font-size: 1.8rem;
}

.nav__squiggle-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    bottom: 0; 
    width: auto;
    height: 40%;
}

.header__squiggle {
    width: 50%;
    height: 100%;
    cursor: pointer;
    padding-bottom: 0.5rem;
}

#header__mint-dots {
    height: 25%;
    position: absolute;
    left: 40%;
    bottom: 0;
    margin-bottom: -2rem;
}

#header__purple-dots {
    height: 25%;
    position: absolute;
    left: 0;
    top: 30%;
}

#header__fuchsia-dots {
    height: 25%;
    position: absolute;
    right: 0; 
    top: 0;
}

/* navbar styles */
.nav__logo {
    margin: 2rem 0 0 2rem;
    height: 4rem;
    width: auto;
}


.nav__links {
    list-style: none;
}

.nav__links.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
    /* width: 50%; */
    font-size: 2rem;
    margin-right: 2rem;
}

.nav__link:hover {
    transform: scale(1.2)
}


#about-link {
    --color: var(--fuchsia);
    text-shadow: 2px 2px 2px var(--color); 
    transition: text-shadow ease-in-out 0.2s;
}

#work-link {
    --color: var(--mint); 
    text-shadow: 2px 2px 2px var(--color); 
    transition: text-shadow ease-in-out 0.2s;
}

#contact-link {
    --color: var(--purple); 
    text-shadow: 2px 2px 2px var(--color); 
    transition: text-shadow ease-in-out 0.2s;
 }

 
#about-link:hover, #work-link:hover, #contact-link:hover {
    text-shadow: 10px 5px 10px var(--color); 
}



@media only screen  and (max-width: 1024px){ 
    #header__mint-dots {      
        left: 50%;
        bottom: 50%;
    }

    #header__purple-dots {
        top: 20%;
        margin-left: -2.5rem;
    }

    .nav__squiggle-container {
        justify-content: space-around;
        bottom: 10%; 
        height: 30%; 
        margin-right: 2rem;
    }


    .nav__links.home{
        font-size: 2.5rem;
    }

    .header__squiggle {
        height: 100%;
        cursor: pointer;
        padding-bottom: 0.5rem;
    } 

}

@media only screen  and (max-width: 640px){ 
    #header__mint-dots {
       display: none;
    }
    
    #header__purple-dots {
        position: absolute;
        left: 0;
        top: 60%;
    }
    
    #header__fuchsia-dots { 
        width: 40%;
        top: 0;
    }

    .header__text {
        width: 90%;
        margin: 15% 0 0 0.5rem;
    }
    
    .header__hello {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    
    .header__intro {
        font-size: 1.5rem;
    }

    .nav__squiggle-container {
        width: 100%;
        justify-content: space-around;
        bottom: 0;  
        height: 30%; 
        margin-right: 0rem;
    }


    .nav__links.home{
        font-size: 2rem;
        margin-right: 1rem;
    }

    .header__squiggle {
        height: 100%;
        cursor: pointer;
        padding-bottom: 0.5rem;
        margin-left: rem;
    } 
    



}


/* Sidebar asides */
.sidebar {
    position: absolute;
    right: -3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    transform: rotate(90deg);
    top: 0;
    margin-top: 15rem;
}

.sidebar__title {
    font-family: var(--fancy);
    font-size: 8rem;
    height: auto;
    width: fit-content;
    font-weight: 400;
}

.sidebar__dots {
    transform: rotate(90deg);
}

.sidebar__about {
    color: var(--fuchsia);
}

.sidebar__work {
    color: #fff;
}

.sidebar__contact {
    color: var(--purple);
}

.sidebar__contact span {
    color: #fff;
    font-size: 8rem;
}

#sidebar-work {
    margin-top: 20rem;
    transform: rotate(90deg) skewX(-4deg);
    z-index: -1;
}

#sidebar-contact{
    z-index: 1;
    margin-top: 20rem;
}

/* About section */
.about {
    position: relative;
    width: 100%;
    margin: 10rem 0;
    overflow-x: clip;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.about__photo{
    width: 50%;
    padding-right: 2rem; 
}



.about__headshot-container {
    height: auto;
}

.about__headshot {
    margin-top: 2rem;
    border-radius: 100%;
    width: 100%;
    max-width: 650px;
}

.about__bio {
    width: 50%;
}

.about__bio-title {
    margin-bottom: 2rem;
    font-weight: 300;
}

.about__bio-title span {
    color: var(--fuchsia);
}

.about__bio-text {
    margin-right: 2rem;
}

@media only screen and (max-width: 1024px){
    .about__content {
        flex-direction: column;
    }

    .about__bio, .about__photo {
        width: 80%;
        margin: 0 auto;
    }

    .about__headshot-container {
        bottom: 12rem;
    }

    .about__bio {
        margin-top: -10rem;
    }

    #sidebar-contact{
        margin-top: 10rem;
        z-index: 1;
    }
}

@media only screen and (max-width: 640px){
    .about {
        margin-top: 0;
    }

    .about__content {
        align-items: center;
    }

    .sidebar {
        display: none;
    }

    .about__headshot-container{
        margin: 2rem 0;
    }

    .section__header {
        font-size: 2.2rem;
    }

    .section__header span {
        font-size: 2.5rem;
    }

    .about__bio {
        width: 90%;
        margin-top: -12rem;
    }

    .about__bio-text {
        width: 100%;
    }
}

/* Tools Section */

.tools {
    width: 100%; 
    height: fit-content;
    background-color: var(--fuchsia);
    transform: skewY(4deg);
    padding: 5% 0;
    margin: 4rem 0;
}

.tools__content {
    transform: skewY(-4deg);
    margin: 0 auto;
}

.tools__header {
    margin: 0 0 4rem 0;
    padding-left: 0.5rem;
    color: #fff;
    font-weight: 300;
    font-size: 1.8rem;
}

.tools__header span {
    font-size: 2rem;
}

.tools__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    gap: 2.5rem;
    justify-items: center;
    margin-bottom: 2rem;
}

.tools__grid-tool{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tools__grid-name{
    padding-top: 0.5rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width: 1024px){
    .tools__header {
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 640px){
    .tools__content{
        padding: 2rem; 
    }

    .tools__header {
        margin-top: 8rem;
        font-size: 1.5rem;
    }

    .tools__header span{
        font-size: 1.8rem;
    }

    .tools__grid {
        grid-template-columns: repeat(auto-fill, 70px);
        gap: 2rem;
    }
}

/* Work section */
.work {
    width: 100%; 
    height: fit-content;
    background-color: var(--mint);
    transform: skewY(-4deg);
    padding: 5rem 0;
    margin-top: 10rem;
    overflow-x: clip;
}

.work__content {
    transform: skewY(4deg);
}


.work__dots {
    transform: skewY(4deg);
}

.work__card {
    display: flex;
    width: 100%;
    padding: 1rem 0;
}

.work__card-content {
    width: 50%;
    padding: 3rem 3.5rem 3rem 3rem;
}

.work__card-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--purple);
}

.work__card-img-container {
   width: 50%;
   background-color: gray;
   height: 400px;
}

.work__card-text {
    margin-right: 0.5rem;
}

.work__card-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}

.work__card-button {
    background-color: var(--purple);
    font-family: var(--fancy);
    color: #fff;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1024px){
    .work__header {
        padding-left: 1rem;
    }

    .work__card {
        flex-direction: column;
        padding: 2rem;
    }


    #center-card {
        flex-direction: column-reverse;
    }

 
    .work__card-content, .work__card-img-container {
        width: 100%;
    }

    
}

@media only screen and (max-width: 640px){
    .work__header {
        width: 70%;
    }

    .work__card {
        flex-direction: column;
        padding: 1rem;
    }

    .work__card-content {
        padding: 2rem 1rem 1rem 1rem;
    }

    .work__dots {
       position: absolute;
       right: 0;
       top: 0;
       margin-right: -2rem;
    }
}

/* Contact section */
.contact {
    position: relative;
    margin: 5rem 0 8rem 0;
    width: 100%;
    overflow-x: clip;
}

.contact__dots{
    position: absolute;
    left: 0;
}

.contact__letter{
    width: 60%;
    max-width: 550px;
    font-size: 1.2rem;
    margin: 4rem auto 0 auto;
}

.contact__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;   
}

.contact__info-background {
    background-color: var(--purple);
    width: 100%;
}

#middle-background {
    position: relative;
    height:fit-content;
    min-height: 300px;
}

#top-background {
    transform: skewY(4deg);
    height: 10rem; 
    margin-bottom: -5rem;
    z-index: -5;
}

#bottom-background {
    transform: skewY(-4deg);
    height: 10rem; 
    margin-top: -5rem;
    z-index: -5;
}

.contact__info-content{
    width: 100%;
    padding: 2rem 25%;
}

.contact__info-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#bottom-contact {
    margin-top: 2rem;
}

.contact__info-icon{
    margin-right: 2rem;
}

.contact__info-method{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1024px){
    .contact {
        margin-top: 10rem;
    }

    .contact__letter{
        margin-left: 3rem;
    }

}

@media only screen and (max-width: 640px){
    .contact {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }


    .contact__flex {
        display: block;
    }


    .contact__letter{
        width: 100%;
        margin-left: 1rem;
        padding-right: 2rem;
    }

    .contact__info {
        margin-top: 5rem;
    }


    .contact__info-icon {
        height: 10vw;
        margin-right: 1rem;
    }

    .contact__info-content{
        width: 100%;
        padding: 2rem 2rem;
    }

    .contact__info-method{
        font-size: 1.1rem;
    }

    #top-background {
        height: 7rem; 
    }
    
    #bottom-background {
        height: 7rem; 
    }

}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fuchsia);
    padding: 1rem 2rem;
}

.footer__logo{
    height: 4rem;
    width: auto;
}

.footer__text{
    font-weight: 700;
    font-size: 1.2rem;
    text-align: right;
}

@media only screen and (max-width: 640px){
    .footer__text{
        font-size: 1rem;
        width: 80%;
    }
}