* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --plain: 'Raleway', sans-serif;
    --fancy: 'Ribeye Marrow', serif;
    --purple: #8253EA;
    --fuchsia: #FF427B;
    /* --mint: #2EFFC0; */
    --mint: #6cfacb;
    --shadow: ;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer; 
}


body {
    min-height: 100vh;
    color: #000;
    font-family: var(--plain);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body.is-active {
    overflow: hidden;
}

span {
    font-family: var(--fancy);
    font-size: 2rem;
    font-weight: 300;
}

.section__content{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

.section__dots {
    filter: opacity(0.8);
    position: absolute;
    left: 0rem;
    top: 10%;
    z-index: -1;
 }

.section__header {
    margin-bottom: 1rem;
    margin-left: 5rem;
    width: 100%;
    font-weight: 300;
    font-size: 1.8rem;
}

.section__header span {
    font-size: 2.3rem;
}

@media only screen and (max-width: 1024px){
    .section__dots {
        margin-left: -2rem;
     }
}


@media only screen and (max-width: 640px){
    .section__content{
        margin: 0 auto;
        width: 90%;
    }
    
    .section__header {
        font-size: 2.2rem;
        margin-left: 0;
        margin-bottom: 0;
    }

    .section__header span {
        font-size: 2.5rem;
    }

    .section__dots{
        left: initial;
        right: 0;
        top: 10%;
        margin-left: 0;
        margin-right: -8rem;

    }

}

/* Home section styles */

header {
    height: 100vh;
    width: 100%;
    overflow-x: clip;
}

.header__text {
    position: relative;
    top: 15%;
    width: 50%;
    margin: 0 auto;
}

.header__hello {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.header__intro {
    font-weight: 400;
    font-size: 1.8rem;
}

.nav__squiggle-container {
    height: 100%;
}

.nav__squiggle-container.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0; 
    margin-bottom: 2rem;
    width: auto;
    height: 50%;
}

.header__squiggle {
    display: none;
}

.header__squiggle.home {
    display: block;
    height: 13rem;
    animation: float infinite 4s; 
}


@keyframes float {
    0%{
        transform: translateY(0rem)
    }
    50%{
        transform: translateY(1rem)
    }
    100%{
        transform: translateY(0rem)
    }
}

.header__dots {
    position: absolute;
    height: 25%;
    filter: opacity(0.8);
}

#header__mint-dots {
    left: 40%;
    bottom: 0;
    margin-bottom: -2rem;
}

#header__purple-dots {
    left: 0;
    top: 30%;
}

#header__fuchsia-dots {
    right: 0; 
    top: 0;
}

/* navbar styles */
nav.scrolled{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.7);
}

.nav__logo.home {
    margin: 1rem 1rem 1rem 2rem;
    height: 4rem;
    width: auto;
}

.nav__logo {
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    height: 3rem;
}

.nav__links {
    display: flex;
    list-style: none;
    height: 100%;
    font-size: 1.7rem;
    margin-right: 1rem;
    /* border: solid orange;    */
}

#mobile-menu-dots{
    display: none;
}

.nav__links.home {
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
    font-size: 2rem;
    margin-right: 2rem;
    z-index: 10;
}

.nav__link.home {
    padding: 0; 
}

.nav__link {
    margin: 0 1rem;
    position: relative;
}


#about-link::before {
    content: ""; 
    position: absolute; 
    width: 100%;
    height: 4px; 
    bottom: -5px; 
    border-radius: 2px;
    left: 0; 
    background-color: var(--fuchsia);
    visibility: hidden; 
    transform: scaleX(0);
    transition: all 200ms ease-out;
}

#about-link.underlined {
    visibility: visible;
    transform: scaleX(1);
}



.nav__link:hover {
    animation: wave 0.5s;
    /* transform: scale(1.2); 
    transition: transform ease 0.5s; */
}


  @keyframes wave {
    0% {
      transform:translateY(0px)
    }
    50% {
      transform:translateY(-10px);
    }
    100% {
      transform:translateY(0px) 
    }
  }
  /*
  .back span:nth-child(1) {
    animation-delay:0s;
  }
  .back span:nth-child(2) {
    animation-delay:.1s;  
  }
  .back span:nth-child(3) {
    animation-delay:.2s;
  }
  .back span:nth-child(4) {
    animation-delay:.3s;  
  }
  .back span:nth-child(5) {
    animation-delay:.4s;
  }
  .back span:nth-child(6) {
    animation-delay:.5s;  
  }
  .back span:nth-child(7) {
    animation-delay:.6s;
  } */


#about-link {
    --color: var(--fuchsia);
    text-shadow: 2px 2px 1px var(--color); 
}

#work-link {
    --color: var(--mint); 
    text-shadow: 2px 2px 1px var(--color); 
}

#contact-link {
    --color: var(--purple); 
    text-shadow: 2px 2px 1px var(--color); 
 }

 .nav__toggle {
     display: none;
 }


@media only screen  and (max-width: 1024px){ 
    .header__dots {
        height: 20%;
    }


    #header__mint-dots {
        left: 40%;
        bottom: 35%;
    }
    
    #header__purple-dots {
        margin-left: -4rem;
    }

    .header__text {
        width: 80%;
        margin: 0 auto 0 25%;
    }
    

    .nav__squiggle-container.home {
        height: 30%; 
        margin-right: 2rem;
    }


    .nav__links.home{
        font-size: 2.5rem;
    }


}

@media only screen  and (max-width: 640px){ 
    #header__mint-dots {
       display: none;
    }
    
    #header__purple-dots {
        top: 80%;
    }


    .header__text {
        width: 100%;
        padding: 0 1rem;
        margin: 0;
    }
    
    .header__hello {
        font-size: 15vw;
        margin-bottom: 2rem;
    }

    
    .header__intro {
        font-size: 8vw;
    }

    .nav__squiggle-container.home {
        width: 60%;
        justify-content: flex-end;
        bottom: 0;  
        height: 30%; 
        margin-right: 0rem;
    }

    .header__squiggle.home {
        height: 50vw; 
        margin-right: -2rem;
    }
    

    .nav__links.home{
        display: flex;
        font-size: 8vw;
        margin-right: 1rem;
        padding: 0;
        transform: translateX(0);
        transition: transform 500ms ease;
    }

    .nav__links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        height: 100vh;
        width: 100%; 
        position: absolute;
        top: 0;
        left: 0;
        padding: 10% 0;
        background: white;
        font-size: 11vw;
        z-index: -1;
        transform: translateX(110%);
    }

    #mobile-menu-dots.is-active{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10% 0;
        position: absolute;
        left: 0;
        height: 100%;
    }

    .nav__links.is-active{
        transform: translateX(0);
        transition: transform 500ms ease;
    }

   

    .nav__toggle.home{
        display: none;
    }
        
    .nav__toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative; 
        height: auto;
        right: 15px;
        top: 0;  
        transition: transform 300ms ease-in-out;
        padding: 1rem 0 1rem 1rem;
        cursor: pointer; 
        margin-right: 1rem;
    }

    .nav__toggle-bar {
        display: block;
        width: 35px; 
        height: 5px; 
        margin: 2px auto;
        transition: transform 300ms ease-in-out;
        border-radius: 4px;
    }

    .nav__toggle-bar:nth-child(1){
        background-color: var(--fuchsia) ;
    }

    .nav__toggle-bar:nth-child(2){
        background-color: var(--mint) ;
    }

    .nav__toggle-bar:nth-child(3){
        background-color: var(--purple) ;
    }
    

    #toggle-bars.is-active .nav__toggle-bar:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index:-1;
        height: 42px;
        width: 42px;
        margin-left: -3px;
        background-color: transparent;
        border: solid 4px var(--mint);
        border-radius: 100%;
        
    }

    #toggle-bars.is-active .nav__toggle-bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
        height: 4px;
    }

    #toggle-bars.is-active .nav__toggle-bar:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
        height: 4px;
    }

    
/* .nav__menu {
    display: block;
    width: 100%; 
    height: 100%;
    transition: border-bottom 300ms ease 250ms;
} */


}


/* Sidebar asides */
.sidebar {
    position: absolute;
    right: -3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    transform: rotate(90deg);
    top: 0;
    margin-top: 15rem;
}

.sidebar__title {
    font-family: var(--fancy);
    font-size: 8rem;
    height: auto;
    width: fit-content;
    font-weight: 400;
    filter: opacity(0.8);
}

.sidebar__dots {
    transform: rotate(90deg);
    filter: opacity(0.8);
}

.sidebar__about {
    color: var(--fuchsia);
}

.sidebar__work {
    color: #fff;
}

.sidebar__contact {
    color: var(--purple);
}

.sidebar__contact span {
    color: #fff;
    font-size: 8rem;
}

#sidebar-work {
    transform: rotate(90deg) skewX(4deg);
    z-index: -1;
}

#sidebar-contact{
    z-index: 1;
    margin-top: 20rem;
}

@media only screen and (max-width: 1024px){
    .sidebar {
        margin-top: 15rem;
    }
}

/* About section */
.about {
    position: relative;
    width: 100%;
    margin: 11rem 0;
    padding-top: 5rem;
    /* overflow-x: clip; */
}

.about__flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}



.about__photo{
    padding-right: 4rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}



.about__headshot-container {
    height: auto;
}

.about__headshot {
    margin-top: 2rem;
    border-radius: 100%;
    max-width: 650px;
}

.about__bio {
    width: 50%;
}

.about__bio-title {
    margin-bottom: 2rem;
    font-weight: 300;
}

.about__bio-title span {
    color: var(--fuchsia);
}

.about__bio-text {
    margin-right: 1rem;
}

@media only screen and (max-width: 1024px){
    .about {
        margin: 2rem 0;
    }

    .about__flex{
        flex-direction: column;
        align-items: center;
    }
    .about__bio {
        width: 80%;
    }

    .about__photo {
        width: 80%;
        padding-right: 0;
    }

    .about__headshot-container {
        bottom: 12rem;
    }

    .about__headshot{
        margin-top: 0;
    }

}

@media only screen and (max-width: 640px){
    .about {
        margin-top: 2rem;
    }

    .about__content {
        align-items: center;
    }

    .sidebar {
        display: none;
    }

    .about__photo {
         width: 100%;
     }

    .about__headshot-container{
        margin: 1rem 0;
    }

    .about__bio {
        width: 100%;
    }

    .about__bio-text {
        width: 100%;
    }

    .about__bio-title{
        margin-bottom: 1rem;
    }
}

/* Tools Section */

.tools {
    width: 100%; 
    height: fit-content;
    background-color: var(--fuchsia);
    transform: skewY(4deg);
    padding: 5% 0;
    margin: 4rem 0 0 0;
}

.tools__content {
    transform: skewY(-4deg);
    margin: 0 auto;
}

.tools__header {
    margin: 0 0 4rem 0;
    padding-left: 0.5rem;
    color: #fff;
    font-weight: 300;
    font-size: 1.8rem;
}

.tools__header span {
    font-size: 2rem;
}

.tools__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    gap: 2.5rem;
    justify-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    grid-auto-flow: dense;
}

.tools__grid-tool{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tools__grid-name{
    padding-top: 0.5rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width: 1024px){
    .tools__header {
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding-left: 1.5rem;
    }

    .tools__grid {
        grid-template-columns: repeat(auto-fill, 70px);
        gap: 2rem;
    }

    
}

@media only screen and (max-width: 640px){
    .tools__header {
        font-size: 1.5rem;
    }

    .tools__header span{
        font-size: 1.8rem;
    }

    
}

/* Work section */
.work {
    width: 100%; 
    height: fit-content;
    background-color: var(--mint);
    transform: skewY(4deg);
    padding: 5rem 0;
    /* overflow-x: clip; */
}

.work__content {
    transform: skewY(-4deg);
}


.work__dots {
    transform: skewY(-4deg);
}

.work__cards {
    margin-right: 1rem;
}

.work__card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
}

.work__card-content {
    width: 50%;
    padding: 0 1rem;
}

.work__card-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--purple);
}

.work__card-img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.work__card-img { 
    max-width: 450px;
}



.work__card-text {
    margin-right: 0.5rem;
}

.work__card-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}



.work__card-button {
    font-family: var(--fancy);
    color: #fff;
    font-size: 1.2rem;
    background-color: #8353ea;
    text-align: center;
    padding: 15px 40px;
    background-image: linear-gradient(45deg, var(--fuchsia) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: all 300ms ease-in-out;
  } 

  .work__card-button:hover {
    background-position: 0;
    transform: scale(1.05);
  }

  .work__card-button:active {
    transform: rotateY(360deg);
  }



@media only screen and (max-width: 1024px){
    .work__header {
        padding-left: 1rem;
    }

    .work__card {
        flex-direction: column;
        padding: 2rem;
    }


    #center-card {
        flex-direction: column-reverse;
    }

 
    .work__card-content, .work__card-img-container {
        width: 100%;
    }

    .work__card-content {
        padding-top: 2rem;
    }

    .work__card-img-container { 
        margin: 1rem 0 2rem 0;
    }

    .work__card-img { 
        max-width: 1000px;
    }

}

@media only screen and (max-width: 640px){
    .work {
        padding: 2rem 0;
    }

    .work__cards {
        margin-right: 0;
    }

    .work__card {
        flex-direction: column;
        padding: 1rem;
    }

    .work__card-header {
        padding-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .work__card-content {
        padding: 1rem 0;
    }

    .work__card-text {
        padding-left: 0.5rem;
    }

    .work__card-button{
        padding: 1rem;
        font-size: 1rem;
    }


    .work__card-img-container { 
        margin: 2rem 0 0 0;
    }

}

/* Contact section */
.contact {
    position: relative;
    width: 100%;
    margin-top: 5rem;
    /* overflow-x: clip; */
}

.contact__dots{
    position: absolute;
    left: 0;
}

.contact__letter{
    width: 60%;
    max-width: 550px;
    font-size: 1.2rem;
    margin: 4rem auto 0 auto;
}

.contact__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;   
}

.contact__info-background {
    background-color: var(--purple);
    width: 100%;
}

#middle-background {
    position: relative;
    height:fit-content;
    padding-bottom: 4rem;
}

#top-background {
    transform: skewY(4deg);
    height: 10rem; 
    margin-bottom: -5rem;
    z-index: -5;
}


.contact__info-content{
    width: 100%;
    padding: 2rem 25%;
}

.contact__info-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#bottom-contact {
    margin-top: 2rem;
}

.contact__info-icon{
    margin-right: 2rem;
}

.contact__info-method{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1024px){
    .contact__info {
      margin-top: 8rem;
    }


}

@media only screen and (max-width: 640px){
    .contact {
        margin-top: 0;
        padding-top: 3rem;
    }

    .contact__flex {
        display: block;
    }

    .contact__letter{
        width: 100%;
        margin-left: 1rem;
        padding-right: 1rem;
    }

    .contact__info {
        margin-top: 5rem;
    }


    .contact__info-icon {
        height: 10vw;
        margin-right: 1rem;
    }

    .contact__info-content{
        width: 100%;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .contact__info-method{
        font-size: 1.1rem;
    }

    #top-background {
        height: 7rem; 
    }

    #middle-background {
        padding-bottom: 0;
    }
    

}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fuchsia);
    padding: 1rem 2rem;
}

.footer__logo{
    height: 4rem;
    width: auto;
}

.footer__text{
    font-weight: 700;
    font-size: 1.2rem;
    text-align: right;
}

@media only screen and (max-width: 640px){
    .footer__text{
        font-size: 1rem;
        width: 80%;
    }
}